body 
{
	background-color: #CCCCCC; 
	font-size: small;
}

table 
{
	font-size: small; 
	width: 100%; 
}

td
{
	background-color: #EEEEEE;
	vertical-align: top;
}

div#trip_place 
{ 
	font-size: x-large; 
}

div#trip_time 
{ 
	font-size: normal; 
	font-weight: normal;
}

div#trip_heading 
{ 
	font-size: large; 
}

div#fish_time 
{ 
	font-size: normal; 
	font-weight: bold;
}

div#trip_description
{ 
    background-color: #EEEEEE;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
	font-size: normal; 
}

div#trip_distance
{ 
	font-size: normal; 
}